/* reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style guide */

/* nav links */
li {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    color: darkblue;
    font-weight: 550;
}

/* header/nav menu */

header {
    display: flex;
    background-color: rgba(144, 238, 144, 0.2);
    justify-content: space-around; /* main axis/ horizontal */
    align-items: center; /* cross axis /vertical */
}

.nav-links, .nav-links a {
    list-style: none; /* removes bullets on links */
    display: flex;
    gap: 20px; /* space between nav items */
    flex-wrap: wrap; /* wraps content when screen size changes */
    text-decoration: none; /* remove underline on links */
}

.nav-links a:hover { /* change to color on hover */
    color: rgb(6, 59, 6);
    transition: 0.3s ease;
}

.nav-links a:active { /* change to color on click */
    color: black;
}

/* hero */
.hero {
    background-image: url(images/hero.jpg);
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/flower-herb-hero.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.7; /* Adjust for transparency */
    z-index: 0;
  }